<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>海草,非一般的营销系统</title>
	<link rel="stylesheet" type="text/css" href="/Public/mobile/css/stylew.css">
	<link rel="stylesheet" type="text/css" href="/Public/mobile/css/swiper.min.css">
	<script type="text/javascript" src="/Public/mobile/js/jquery-1.11.3.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="banner">
				<img src="/Public/mobile/images/banner.jpg" alt="海草">
				<div class="hc"></div>
			</div>
		</div>
		<div class="main">
			<div class="m_top">
				<div class="wrap">
					<ul>
						<li class="active"><a href="/index/mindex">首页</a></li>
						<li><a href="/index/mdoc">教程</a></li>
						<li><a href="https://ae.shangning.org.cn/">免费试用</a></li>
					</ul>
				</div>
			</div>
			{block name="body"}{/block}
			</div>
	</div>
</body>
</html>