
{extend name="phonebase" /} {block name="body"}
<div class="d_content">
				<div class="wrap">
					<div class="top">海草客服系统帮助文档</div>
					<div class="helpdoc">
						<div class="d_nav">
							<div class="middle">
								<div class="item active">开始前必读</div>
								<div class="itembox" style="display: block;">
									<div class="itemtitle">海草营销系统开发概述</div>
									<p>海草软件是一款基于微信公众号的营销管理系统，它集客户来源渠道分析、客户智能沟通、客户多次挖掘、公司客服绩效管理、粉丝活跃度统计等功能于一体，帮助企业高效管理公众号粉丝，降低投入成本，提高工作效率和产出，为业务成交提供全程支持。</p>
									<img src="/Public/static/picture/1.1.jpg" alt="价格表">
								</div>
							</div>
							<div class="middle">
								<div class="item">接入指南</div>
								<div class="itembox">
									<div class="itemtitle">接入指南</div>
									<p>点击右上角“免费试用”按钮进入系统后台注册页，注册海草帐号后，正式使用海草系统。<br><br>
										公众号接入海草系统，使用者需要按照如下步骤完成：<br>
										1、设置好公众号的账号，接入公众号<br>
										2、设置公众号模版消息功能<br>
										3、海草创建账号<br>
									4、海草建立常用功能，标签，聊天，离线回复等</p>
									<h4>下面详细介绍这4个步骤。</h4>
									<h2>第一步</h2>
									<p>设置好公众号的账号，接入公众号</p>
									<p class="bigger">设置公众号账号↓↓</p>
									<img src="/Public/static/picture/doc2.8.png">
									<p class="bigger">设置公众号账号↓↓</p>
									<img src="/Public/static/picture/doc2.1.jpg">
									<p class="bigger">公众号管理员扫码授权↓↓</p>
									<img src="/Public/static/picture/doc2.2.jpg">
									<h2>第二步</h2>
									设置公众号模版消息功能
									<p class="bigger">开通公众号模板消息后海草设置文案模板↓↓</p>
									<img src="/Public/static/picture/doc2.3.jpg">
									<h2>第三步</h2>
									海草创建账号
									<img src="/Public/static/picture/doc2.4.jpg">
									<h2>第四步</h2>
									海草测试常用功能是否正常，标签、聊天、离线回复等
									<p class="bigger">标签↓↓</p>
									<img src="/Public/static/picture/doc2.5.jpg">
									<p class="bigger">聊天↓↓</p>
									<img src="/Public/static/picture/doc2.6.jpg">
									<p class="bigger">离线回复↓↓</p>
									<img style="margin-bottom: 25%;" src="/Public/static/picture/doc2.7.jpg">
								</div>
							</div>
							<div class="middle">
								<div class="item">在线客服</div>
								<div class="itembox">
									<div class="itemtitle">在线客服</div>
									<p>下方客服二维码添加微信，说明需求“海草系统”，帮您解答系统使用问题。</p>
									<img src="/Public/static/images/774025475179654284.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
{/block} 