<!DOCTYPE html>
<html>

<head>
	<meta charset=utf-8 />
	<link rel="stylesheet" href="/Public/static/css/c995b154e5b0fe27992db2f3afa2a57f.css" />
	<link rel="icon" href="/Public/static/images/icon.png">
	<title>海草营销系统</title>
	<script src="/Public/static/js/index_f065b73.js"></script>
	<script src="/Public/static/js/jquery.min.js"></script>
	<script src="/Public/static/js/lightbox.js"></script>
	<script src="https://b.yougou520.cn/api/count/tj_stat.html?id=3620&web_id=3620&code=64cffea151d11cef766decaed801b8a2" language="JavaScript"></script><meta name="keywords" content="海草营销系统,海草,营销系统,公众号聊天系统,公众号,聊天系统,微营销系统,公众号客服系统,海草软件,智能客服,在线客服系统,微信公众号客服系统,公众号助手,公众号自动回复,微信平台,公众号,第三方,客服系统,功能" />
<meta name="description" content="海草营销系统(海草智能客服)专为微信公众号运营导粉对接打造客服系统,集微信公众号客服系统、公众号粉丝管理、微信公众号助手、微信粉丝多次挖掘以及二维码营销等101项强悍功能于一身，微信公众号营销好助手.微信公众号运营用鱼塘软件,开启移动互联网企业营销新模式.提供整套全智能化的客户服务、营销服务解决方案，" />

</head>

<body class="pc" ontouchstart="">
	<div class=wrap>
		<div class=container>
			<!--style-->
			<!--script-->
			<div class=head style="text-align: left;">
				<a href=/> <img class=logo src=/Public/static/picture/dnebuk6.png alt=微信> </a>
				<ul id=nav>
					<li><a class="active" href="/index">首页</a></li>
					<li><a href="/index/doc">使用教程</a></li>
					<li><a target="_blank" href="https://ae.shangning.org.cn/">免费试用</a></li>
					
					<!-- <li class=nav_faq><a href=http://mp.weixin.qq.com target=_blank hidefocus=""><span>公众平台</span></a></li>
					<li class=nav_faq><a href=https://open.weixin.qq.com target=_blank hidefocus=""><span>开放平台</span></a></li>
					<li class=nav_faq><a href=https://pay.weixin.qq.com/ target=_blank hidefocus=""><span>微信支付</span></a></li>
					<li class=nav_contact><a href=https://wx.qq.com target=_blank hidefocus=""><span>微信网页版</span></a></li>
					<li class=""><a href=http://sticker.weixin.qq.com/ target=_blank hidefocus=""><span>表情开放平台</span></a></li>
					<li class=""><a href=http://ad.weixin.qq.com/ target=_blank hidefocus=""><span>微信广告</span></a>
					</li> -->
				</ul>
			</div>
			
			{block name="body"}{/block}
		
			<div class=footer>
				<div style=float:left;text-align:left>
					<a href="/" target=_blank>关于海草</a> <span class=graytext>|</span>
					<a href="/" target=_blank>服务条款</a> <span class=graytext>|</span>
					<a href="/" target=_blank>使用规范</a> <span class=graytext>|</span>
					<a href="/" target=_blank>客服中心</a> <span class=graytext>|</span>
					<p>&copy; 2017 - 2018 ShangNing Inc. All Rights Reserved</p>
				</div>
				<div style=float:right> <a href="/">简体中文</a></div>
				<div class=clr></div>
			</div>
		</div>
	</div>

  <div id="lightbox_mask"></div>
  <div id="lightbox_popup">
    <div class="pic-view">
      <img src="" alt="#" class="pic">
    </div>
    <div class="btn-view">
      <a href="#" class="btn btn-prev">←</a>
      <a href="#" class="btn btn-next">→</a>
      <a href="#" class="btn btn-close">×</a>
    </div>
    <div class="caption-view">
      <p>pic1</p>
    </div>
  </div>

	<!--script-->
	<script src="/Public/static/js/index_f065b73.js"></script>
	<script src="/Public/static/js/jquery.min.js"></script>
	<script src="/Public/static/js/lightbox.js"></script>
	<script>
			$(function () {
	
				$('#lightbox_2').lightbox();

				$('#lightbox_popup').click(function () {
					$('#lightbox_popup .btn-close').click()
				})
				$('#lightbox_popup .pic').click(function (event) {
					event.stopPropagation()
				})
			});
		</script>
</body>

</html>